@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #EDF1F4;

}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 10px auto;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
}

.auto{
   flex: 1;
}


.anima:hover{
    transform: scale(1.1)

}

.leading{
    line-height: 65px;
}

@media (max-width:700px) {
    .leading{
        line-height: 40px;
    } 
}

nav ul a::after{
    content: "";
    width: 0%;
    display: block;
    color: white;
    background: white;
    height: 3px;
    transition: .3s ease-in;
}

nav ul a:hover::after{
    content: "";
    width: 100%;
    display: block;
    color: white;
    background: white;
    height: 3px;
    transition: .3s ease-in;
}



.animarModal{
    
    animation: animarModal .6s ease-in-out;
}

@keyframes animarModal {
    from{
        transform: translateY(-190px);
    }
    to{
        transform: translateY(0);
    }
}


/* Estilo para o contêiner do select */
div::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
    
  }
  
  /* Estilo para a "thumb" (o botão de arrastar) da barra de rolagem */
  div::-webkit-scrollbar-thumb {
    background-color: #FF5000; /* Cor da "thumb" */
    border-radius: 6px; /* Borda arredondada da "thumb" */
  }
  
  /* Estilo para a "track" (a trilha) da barra de rolagem */
  div::-webkit-scrollbar-track {
    background-color: #E5E5E5; /* Cor da trilha */
  }
  

.animaHelp{
    animation: animaHelp .5s linear;
}

  @keyframes animaHelp {
    from{
        width: 0%;
    } to{
        width: 100%;
    }
  }

.btnmenu{
    transition: .3s ease-in-out;
    padding: 10px;
    background-color: none;
}

  .hamb{
    display: block;
    border-top:3px solid;
    width: 25px;
    transition: .3s ease-in-out;
  }

  .hamb.ativo{
    border-top-color: transparent;
  }

 .hamb:before,.hamb:after{
   content: "";
   display: block;
   margin-top: 6px;
   height: 3px;
   width: 25px;
   transition: .3s ease-in-out;
   position: relative;
 background-color: white;
 }




 .btnmenu.ativo .hamb::after{
    transform: rotateX(90deg);
 
 }

 .btnmenu.ativo .hamb::before{
   display: none;

 }

